md-sidenav(class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" flex layout="column" layout-align="space-around center")
  block left
md-content(flex layout="column" layout-align="space-around center")
  block main
md-sidenav(class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-sm')" flex layout="column" layout-align="space-around center")
  block right