extends ../../../../partials/layout/1Col.jade
block main
  p(ng-show="mep.loading") Loading...
  div(layout="row" ng-hide="mep.loading" flex)
    div(layout="column" flex="33" layout-align="space-around center")
      img(ng-src="http://www.europarl.europa.eu/mepphoto/{{mep.mepData.id}}.jpg")
      h2 {{mep.mepData.fullName}}
      a(ng-href="{{mep.mepData.webPage}}") {{mep.mepData.webPage}}
      div(layout="row" layout-align="space-between center")
        img(ng-src="{{mep.mepData.countryFlag}}")
        p {{mep.mepData.countryLabel}}
      div(layout="row" layout-align="space-between center")
        img(ng-src="{{mep.mepData.politicalGroupIcon}}")
        p {{mep.mepData.politicalGroupLabel}}
      p {{mep.mepData.nationalPoliticalGroupLabel}}
      h3 Contact
      div(layout="row" layout-align="space-between center")
        md-button(ng-show="mep.mepData.email" ng-href="mailto:{{mep.mepData.email}}" class="md-raised") E-mail
        md-button(ng-show="mep.mepData.twitterProfile" ng-href="https://twitter.com/intent/tweet?screen_name={{mep.mepData.twitterProfile}}" target="_blank" class="md-raised") Twitter
        md-button(ng-show="mep.mepData.facebookPageUrl" ng-href="{{mep.mepData.facebookPageUrl}}" target="_blank" class="md-raised") Facebook
    div(layout="column" layout-align="center center" flex)