doctype html
html
  head
    title Contact MeP
    // build:vendorCss assets/css/vendor.css
    // bower:css
    // endinject
    // endbuild
  body
    h1 Contact your MePs!
    div(ui-view="main")
    // build:vendorJS assets/js/vendor.js 
    // bower:js 
    // endinject 
    // endbuild 
    // build:appJS assets/js/app.js 
    // inject:js 
    // endinject 
    // endbuild 
        